.input_tabla_activo {
    background-color:forestgreen;
    color: white;
    box-sizing: border-box;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    width: 100%;
}

.input_tabla_inactivo {
    background-color: red;
    color: white;
    box-sizing: border-box;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    width: 100%;
}


.btn_formgroup {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    height: 25px;
}

.btn-default.btn-on.active {
    background-color: #5BB75B;
    color: white;
    font-size:14px;
    height:34px;
    line-height:20px;
    margin-left:0px;
    padding-bottom:6px;
    padding-left:12px;
    padding-right:12px;
    padding-top:6px;
    position:relative;
}

    .btn-default.btn-on.active.focus {
        background-color: #5BB75B;
        color: white;
        border-color: #adadad;
    }

    .btn-default.btn-on.active:hover {
        background-color: #5BB75B;
        color:white;
        opacity: 0.8;
        border-color: #adadad;
    }

    .btn-default.btn-on {
    border:1px solid;
    color: black;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    margin-left: 0px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    position: relative;
}
.btn-default.btn-off.active {
    background-color: #DA4F49;
    color: white;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    margin-left: 0px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
}


    .btn-default.btn-off.active.focus {
        background-color: #DA4F49;
        color: white;
        border-color: #adadad;
    }

    .btn-default.btn-off.active:hover {
        background-color: #DA4F49;
        color: white;
        opacity: 0.8;
        border-color: #adadad;
    }


.btn-default.btn-off{
    border:1px solid;
    color: black;
    font-size: 14px;
    height: 34px;
    line-height: 20px;
    margin-left: 0px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
}

.nuevo-boton{
    float: left;
    padding-top:1%;
    text-align: right;
}

.dt-button.btn-nuevo {
    float: left;
    width: 37px;
    height: 37px;
    background-color: transparent;
    border: none;
    border-image: none;
    background-image: url("img/ico_add.png");
    background-repeat: no-repeat;
    color: white;
}

.btn-nuevo.dt-button:hover:not(.disabled) {
    background-color: transparent;
    opacity: 0.3;
}

.dt-button.btn-refresh {
    float: left;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-image: none;
    background-image: url("img/icons8-sincronizar-40.png");
    background-repeat: no-repeat;
    color: white;
}

.btn-refresh.dt-button:hover:not(.disabled) {
    background-color: transparent;
    opacity: 0.3;
}

.dt-button.btn-excel {
    float: left;
    width: 37px;
    height: 37px;
    background-color: transparent;
    border: none;
    border-image: none;
    background-image: url("img/ico_excel.png");
    background-repeat: no-repeat;
    color: white;
}

.btn-excel.dt-button:hover:not(.disabled) {
    background-color: transparent;
    opacity: 0.3;
}

.dt-button.btn-pdf {
    float: left;
    width: 37px;
    height: 37px;
    background-color: transparent;
    border: none;
    border-image: none;
    background-image: url("img/ico_pdf.png");
    background-repeat: no-repeat;
    color: white;
}

.btn-pdf.dt-button:hover:not(.disabled) {
    background-color: transparent;
    opacity: 0.3;
}

.dt-button.btn-print {
    float: left;
    width: 37px;
    height: 37px;
    background-color: transparent;
    border: none;
    border-image: none;
    background-image: url("img/ico_print.png");
    background-repeat: no-repeat;
    color: white;
}

.btn-print.dt-button:hover:not(.disabled) {
    background-color: transparent;
    opacity: 0.3;
}

/*Texto para Index Empleado*/
.text-activo{
    color:limegreen;
    text-align:center;
    vertical-align:central;
    font-weight:bold;
}

/*Texto para Index Empleado*/
.text-inactivo {
    color: red;
    text-align: center;
    font-weight: bold;
    vertical-align: central;
}

tr.dataTables_scrollBody thead {
    visibility: hidden;
}

tr.group {
    background-color: #3c8dbc !important;
    color: #fff !important;
    font-weight: 700;
}

tr.hidden {
    display: none;
}
