@model IEnumerable<PAR_INTRANET.Models.Clases.Tablas.EstadoSucursal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Estado Sucursales</h3>

<div id="estadoTX">
    @Html.Partial("_EstadoTx", Model)
</div>

